<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/20190828_110102.jpg" alt="photo of Lesley J.J.">
    </div>

    {{>footer}}
</body>



</html>